<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增奖励')" />
	<th:block th:include="include :: ztree-css" />
	<th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-award-add">
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">奖励名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="awardName" id="awardName" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">奖励总额：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="awardTotal" id="awardTotal" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">红包个数：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="awardNum" id="awardNum" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">最小红包：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="awardMin" id="awardMin" required>
				</div>
			</div>
			<div class="form-group">

				<label class="col-sm-3 control-label is-required">最大红包：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="awardMax" id="awardMax" required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label is-required">开始时间：</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" id="awardStartTime" placeholder="开始时间" name="awardStartTime"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">结束时间：</label>
				<div class="col-sm-4">
					<input type="text" class="form-control"  id="awardEndTime" placeholder="结束时间" name="awardEndTime"/>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: ztree-js" />
	<th:block th:include="include :: datetimepicker-js" />
	<script type="text/javascript">

		$(function(){
			$("input[name='awardStartTime']").datetimepicker({
				format: "yyyy-mm-dd hh:ii:ss",
				autoclose: true
			});
			$("input[name='awardEndTime']").datetimepicker({
				format: "yyyy-mm-dd hh:ii:ss",
				autoclose: true
			})
			});
		
		function submitHandler() {
	        	add();
	    }
	
		function add() {
			var awardName = $("input[name='awardName']").val();
			var awardTotal = $("input[name='awardTotal']").val();
			var awardNum = $("input[name='awardNum']").val();
			var awardMin = $("input[name='awardMin']").val();
			var awardMax = $("input[name='awardMax']").val();
			var awardStartTime = $("input[name='awardStartTime']").val();
			var awardEndTime = $("input[name='awardEndTime']").val();
			$.ajax({
				cache : true,
				type : "POST",
				url : ctx + "system/award/add",
				data : {
					"awardName": awardName,
					"awardTotal": awardTotal,
					"awardNum": awardNum,
					"awardMin": awardMin,
					"awardMax": awardMax,
					"awardStartTime": awardStartTime,
					"awardEndTime": awardEndTime
				},
				async : false,
				error : function(request) {
					$.modal.alertError("系统错误");
				},
				success : function(data) {
					$.operate.successCallback(data);
				}
			});
		}
	</script>
</body>
</html>
